* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* background-color: #f5f5f5; */
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(circle at center, #16243D 0%, #101522 30%, #090B10 100%);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    /* overflow-y: auto; */
}

.heading_area {
    margin-top: 2%;
    margin-bottom: 2%;
    line-height: 20px;
    width: 40%;
    height: 100px;
    background: #151b26d1;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    position: fixed;
    top: 2%;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading_area h1 {
    /* color: #6d28d9; */
    color: #00E5C3;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: "Audiowide", sans-serif;
}

.heading_area p {
    color: #777;
    margin-top: 10px;
    font-family: monospace;
    line-height: 10px;
}

.sections_list {
    width: 70%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 2%;
}

.section {
    width: 80%;
    background-color: transparent;
    text-align: start;
    padding: 22px;
    margin-bottom: 1%;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.45);
    transition: 0.5s;
    position: relative;
    color: #D4D7DE;
    opacity: 0.7;
    transform: translateY(25px);
    animation: showList 0.5s forwards;
}

.section:hover {
    transform: translateY(-4px);
    box-shadow: 0 0 30px rgba(0, 229, 195, 0.15);
}

#msg {
    font-family: 18px;
    font-weight: 500;
    font-family: "Space Grotesk", sans-serif;
}

#msg::before {
    content: '🔒';
    display: flex;
    position: relative;
    top: -10px;
}

#date {
    font-size: 13px;
    color: #7B8496;
    font-family: "Cinzel", serif;
}

.input_area {
    position: fixed;
    right: 20%;
    height: 80px;
    width: 10%;
    max-width: 900px;
    display: flex;
    align-items: flex-end;
    gap: 10px;
    background: #151B26ad;
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 50px;
    padding: 10px 15px;
    transition: 0.5s;
}

#chat_box {
    flex: 1;
    border: none;
    outline: none;
    resize: none;
    background: transparent;
    padding: 8px 0;
    max-height: 120px;
    font-size: 16px;
    color: #F7F8FA;
    overflow-y: hidden;
}

#chat_box::placeholder {
    color: #7B8496;
}

#chat_btn {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    color: #090B10;
    background: #00E5C3;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    display: none;
}

#chat_btn:hover {
    transform: scale(1.1);
    background: #00FFD5;
    box-shadow: 0 0 30px rgba(0, 229, 195, 0.5);
}

/* .input_area:focus-within {
    width: 80%;
}

.input_area:focus-within #chat_btn {
    display: block;
} */

.empty_state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55vh;
    text-align: center;
    color: #666;
}
.empty_state .icon {
        font-size: 70px;
        margin-bottom: 3px;
        animation: moveing_icon 2s infinite;
}

.empty_state  h2 {
        font-size: 28px;
        color: #6d28d9;
        margin-bottom: 10px;
        font-family: "Orbitron", sans-serif;
}

.empty_state p {
        font-size: 16px;
        line-height: 20px;
        font-family: "Orbitron", sans-serif;
}


@keyframes moveing_icon {
    0% {
        transform: translateY(-3px);
    }

    50% {
        transform: translateY(3px);
    }

    100% {
        transform: translateY(-3px);
    }
}

.main_area {
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.password_area {
    display: flex;
    position: absolute;
    top: 20%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #101522;
    padding: 35px;
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    opacity: 0.7;
}

.password_area span {
        color: #F7F8FA;
}

.password_area p {
        color: #D4D7DE;
        font-family: "Oxanium", sans-serif;
}

.password_area input {
        margin-top: 10px;
        outline: none;
        padding: 2px;
        padding-left: 20px;
        border-radius: 16px;
        border: 1px solid #5b21b6;
        font-size: larger;
        width: 210px;
    }

.password_keypad {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 70px);
    grid-template-rows: repeat(4, 60px);
    gap: 20px;
}
.password_keypad button {
        width: 70px;
        height: 70px;
        border-radius: 16px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        font-weight: 600;
        cursor: pointer;
        color: #D4D7DE;
        transition: 0.5s;
        background-color: #171C28;
    }

.password_keypad button:hover {
        background-color: #232B3C;
        color: cyan;
        transform: scale(1.1);
        box-shadow: 0 0 40px -2px rgba(0, 229, 195, 0.4);
    }

.password_keypad button:active {
        transform: scale(0.9);
    }

#password_input {
    width: 220px;
    height: 55px;
    background: transparent;
    border: none;
    color: #F7F8FA;
    font-size: 50px;
    text-align: center;
    letter-spacing: 15px;
    transition: 0.3s;
}

#password_input:focus {
    border-color: #00E5C3;
    box-shadow: 0 0 25px rgba(0, 255, 195, 0.35);
}

.dlt_btn {
    position: absolute;
    bottom: 6px;
    right: 6px;
    background: transparent;
    width: 80px;
    height: 25px;
    border-radius: 16px;
    color: #ff5D73;
    border: 1px solid #FF5D73;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transform: scale(0.8);
    transition: 0.5s;
    z-index: 999;
}

.dlt_btn:hover {
    transform: scale(1);
    background-color: red;
    color: white;
    border: none;
}

.dlt_btn:active {
    background-color: red;
    border: none;
    color: white;

}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-4px);
    }
    50% {
        transform: translateX(4px);
    }
    75% {
        transform: translateX(-4px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-200%);
        opacity: 0;
        display: none;
    }
}

@keyframes fadeIn {
    0% {
        transform: translateX(200%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
        display: none;
    }
}

@keyframes showList {
    0% {
        opacity: 0;
        transform: translateY(-20px) scale(0.95);
    }
    60% {
        opacity: 1;
        transform: translateY(4px) scale(1.05);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

h1 {
    font-family: "Audiowide", sans-serif;
}

.logo {
    position: absolute;
    pointer-events: none;
    animation: moveing_logo 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
    opacity: 0.5;
}

@keyframes moveing_logo {
    0% {
        transform: translateY(-40px);
    }
    50% {
        transform: translateY(40px);
    }
    100% {
        transform: translateY(-40px);
    }
}

.logo:nth-child(1) {
    top: -50px;
    right: -60px;
    width: 100px;
    height: 100px;
    font-size: 40px;
}
.logo:nth-child(2) {
    top: 150px;
    left: -80px;
    width: 120px;
    height: 120px;
    font-size: 56px;
    z-index: 2;
}
.logo:nth-child(3) {
    bottom: 150px;
    right: -40px;
    width: 80px;
    height: 80px;
    z-index: 2;
    font-size: 72px;
}

.logo:nth-child(4) {
    bottom: -10px;
    left: -60px;
    width: 50px;
    height: 50px;
    font-size: 72px;
}
.logo:nth-child(5) {
    top: -80px;
    left: 140px;
    width: 100px;
    height: 100px;
    font-size: 64px;
}

#body_el {
    overflow-y: hidden;
    position: relative;
}

.dot {
    position: absolute;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    animation: moveing_dot 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
    border: none;
    width: 10px;
    height: 10px;
    z-index: -1;
}

@keyframes moveing_dot {
    0% {
        transform: translateY(-40px);
    }
    50% {
        transform: translateY(40px);
    }
    100% {
        transform: translateY(-40px);
    }
}

.bottom_area {
    position: fixed;
    bottom: 2%;
    width: 60%;
    height: 80px;
    display: flex;
    flex-direction: row;
}

.bottom_head_area {
    width: 80%;
    color: #D4D7DE;
    background: #151B26ad;
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.bottom_text_area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom_text_area p {
    text-align: left;
    padding-left: 20px;
}

.bottom_logo {
    text-align: center;
    font-size: 50px;
    display: flex;
}

.input_area:focus-within {
    width: 50%;
}

.input_area:focus-within #chat_btn {
    display: block;
}

.edit_btn {
    position: absolute;
    bottom: 6px;
    right: 75px;
    background: transparent;
    width: 80px;
    height: 25px;
    border-radius: 16px;
    color: #ff5D73;
    border: 1px solid #FF5D73;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transform: scale(0.8);
    transition: 0.5s;
    z-index: 999;
}

.copy_btn {
    position: absolute;
    bottom: 6px;
    right: 145px;
    background: transparent;
    width: 80px;
    height: 25px;
    border-radius: 16px;
    color: #ff5D73;
    border: 1px solid #FF5D73;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transform: scale(0.8);
    transition: 0.5s;
    z-index: 999;
}

.dlt_btn, .edit_btn, .copy_btn {
    color: #D4D7DE;
    border: 1px solid #D4D7DE;
}

.edit_btn:hover, .copy_btn:hover {
    transform: scale(1);
    background-color: grey;
}